@model List<Transacao>
@{
    string Total = ViewBag.SaldoExtrato;
    string Divida = ViewBag.DividaExtrato;

}

<h1>Extrato Cliente</h1>

<table class="table table-hover table-striped" style="margin-top:15px; margin-bottom:15px">
    <thead>
        <tr class="table-secondary">
            <th>Numero da Conta</th>
            <th>Valor</th>
            <th>Descrição</th>
            <th>Data</th>
            </tr>

      </thead>
    <tbody>
        @foreach (Transacao item in Model)
        {
            <tr class="table-light">
                <td> @item.NumeroConta</td>
                <td> @item.Valor</td>
                <td> @item.Descricao</td>
                <td> @item.Data</td>
            </tr>
        }
    </tbody>
</table>

<h3>Saldo: R$@Total </h3><br/>
<p style="color: #ff0000">Divida: R$@Divida</p>

