
@{
    ViewData["Title"] = "FormTransacao";
    string value = ViewBag.Valor;
}

<div class="container">
    <form>
            <div asp-validation-summary="ModelOnly" class="text-warning"></div>
            
            <div class="form-group" id="Saldo">
                <label>Digite o valor</label>
                <input type="text" name="txtValor"class="form-control" />
                <span class="text-warning"></span>
            </div>
            <table>
                <tr>
                    <td><input type="submit"  value="Sacar" asp-action="Saque" asp-controller="Transacao" style="width: 370px;" class="btn btn-danger"/></td>
                    <td><input type="submit" value="Ver Saldo" asp-action="VerSaldo" asp-controller="Transacao" style="width: 370px;" class="btn btn-primary"/></td>
                    <td><input type="submit"  value="Depositar" asp-action="Deposito" asp-controller="Transacao" style="width: 370px;" class="btn btn-success"/></td>             
                </tr>
            </table>
            @if (value!=null)
            {
                <h2>R$@value</h2>
            }
    </form>
</div>

