
@model Login


<div class="container">
    <form asp-action="Acessar">
        <fieldset>
            <legend>Login</legend>
            <div asp-validation-summary="ModelOnly" class="text-warning"></div>
            <div class="form-group" id="NumeroConta">
                <label asp-for="NumeroConta"></label>
                <input type="text" asp-for="NumeroConta" class="form-control" />
                <span asp-validation-for="NumeroConta" class="text-warning"></span>
            </div>
            <div class="form-group" id="Senha">
                <label asp-for="conta.Senha">Senha</label>
                <input type="text" asp-for="conta.Senha" class="form-control" />
                <span asp-validation-for="conta.Senha" class="text-warning"></span>
            </div>
            <input type="submit" class="btn btn-primary" value="Acessar" />

        </fieldset>
    </form>
</div>
