
@model Conta


<div class="container">
    <form asp-action="AcessarConta">
        <fieldset>
            <legend>Acessar a Conta</legend>
            <div asp-validation-summary="ModelOnly" class="text-warning"></div>
            <div class="form-group" id="NumeroConta">
                <label asp-for="NumeroConta"></label>
                <input type="text" asp-for="NumeroConta" class="form-control" />
                <span asp-validation-for="NumeroConta" class="text-warning"></span>
            </div>
            <div class="form-group" id="Senha">
                <label asp-for="Senha">Senha</label>
                <input type="password" asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-warning"></span>
            </div>
            <input type="submit" class="btn btn-primary" value="AcessarConta" />

        </fieldset>
    </form>
</div>
