
@model Conta
@{
    string valor = ViewBag.Contah;
}
<div class="container">

    <form asp-action="Recuperar">
        <fieldset>
            <legend>Recuperar Conta</legend>
            <div class="form-group" id="Cliente">
                <label asp-for="Cliente.Numero_de_Cpf"></label>
                <input type="text" asp-for="Cliente.Numero_de_Cpf" class="form-control" />
                <span asp-validation-for="Cliente.Numero_de_Cpf" class="text-warning"></span>
            </div>
            <div class="form-group" id="Senha">
                <label asp-for="Senha"></label>
                <input type="password" asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-warning"></span>
            </div>
            <input type="submit" class="btn btn-primary" value="Recuperar" asp-action="RecuperarConta" />
            @if (valor != null)
            {
                <h2>Número Da Conta: @valor</h2>
            }
        </fieldset>
    </form>
</div>

